.Wrapper {
  background-color: #222629;
  min-width: 100vw;
  min-height: 100vh;
}

.Content {
  min-height: 100vh;
}

.Nav {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

.Header {
  height: 99px;
  background-color: #650121;
}

.HeaderLogoImage {
  object-fit: contain;
  height: 75px;
  padding: 10px 0px 0px 10px;
  justify-self: center;
}

.AppLogo {
  object-fit: contain;
  height: 30vh;
  justify-self: center;
  align-self: center;
  flex: 1;
}

.Linked {
  height: 99px;
  line-height: 99px;
  text-align: center;
  padding: 0px 10px 0px 10px;
  justify-self: center;
  align-self: center;
  font-family: Verdana;
  font-weight: bolder;
  text-decoration: none;
  color: white;
}

.HeaderLink {
  font-size: 2em;
  color: white;
  justify-self: center;
  align-self: center;
  font-family: Verdana;
  font-weight: bolder;
  text-decoration: none;
  padding: 0px 10px 0px 10px;
}

.Linked:hover {
  height: 99px;
  line-height: 99px;
  text-align: center;
  padding: 0px 10px 0px 10px;
  justify-self: center;
  align-self: center;
  font-family: Verdana;
  font-weight: bolder;
  text-decoration: none;
  color: white;
  background-color: #53001a;
}

.HeaderLinkActive {
  height: 99px;
  text-align: center;
  padding: 0px 10px 0px 10px;
  font-size: 2em;
  justify-self: center;
  align-self: center;
  font-family: Verdana;
  font-weight: bolder;
  text-decoration: none;
  background-color: #53001a;
  color: white;
}

.BodyMainHeader {
  text-align: center;
  font-size: 3em;
  color: white;
  justify-self: center;
  align-self: center;
  font-family: Verdana;
  font-weight: bolder;
  text-decoration: none;
  flex: 1;
  padding: 10px 0px 10px 0px
}

.BodyHeader {
  text-align: center;
  font-size: 3em;
  color: white;
  justify-self: center;
  align-self: center;
  font-family: Verdana;
  font-weight: bolder;
  text-decoration: none;
  flex: 1;
}

.BodySubHeader {
  text-align: center;
  max-width: 60vw;
  margin: auto;
  font-size: 1em;
  color: white;
  justify-self: center;
  align-self: center;
  font-family: Verdana;
  font-weight: bolder;
  text-decoration: none;
  padding: 0px 10px 0px 10px;
  flex:1;
}

.centerText {  
  min-height: 90vh;
  
}

.PortfolioSegmentA {
  min-height: 90vh;
  background-color: #222629;
}

.PortfolioSegmentAShort {
  min-height: 10vh;
  background-color: #101113;
}

.PortfolioSegmentB {
  min-height: 90vh;
  background-color: #101113;
}

.PortfolioSegmentBShort {
  min-height: 10vh;
  background-color: #222629;
}