.Wrapper {
  background-color: #222629;
  min-width: 100vw;
  min-height: 100vh;
  
}

.Content {
  min-height: 85vh;
  background-color: #222629;
  display: flex;
}

.Nav {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

.Header {
  height: 99px;
  background-color: #650121;
}

.HeaderLogoImage {
  object-fit: contain;
  height: 75px;
  padding: 10px 0px 0px 10px;
}

.SocialIcon {
  object-fit: contain;
  height: 50px;
  width: 50px;
  padding: 20px;
  color: white;
}

.SocialIcon:hover {
  color: black;
}

.FooterIcon {
  margin: 2px;
  height: 80px;
  width: 80px;
}

.FooterLink {
  height: 0;
}

.SocialContainer {
  min-height: 98px;
}

.AppLogo {
  object-fit: contain;
  width: 33vw;
  max-height: 30vh;
  justify-self: center;
  align-self: center;
  border-radius: 1em;
  flex: 1;
}

.Linked {
  height: 99px;
  line-height: 99px;
  text-align: center;
  padding: 0px 10px 0px 10px;
  justify-self: center;
  align-self: center;
  font-family: Verdana;
  font-weight: bolder;
  text-decoration: none;
  color: white;
}

.HeaderLink {
  font-size: 2em;
  color: white;
  justify-self: center;
  align-self: center;
  font-family: Verdana;
  font-weight: bolder;
  text-decoration: none;
  padding: 0px 10px 0px 10px;
}

.Linked:hover {
  height: 99px;
  line-height: 99px;
  text-align: center;
  padding: 0px 10px 0px 10px;
  justify-self: center;
  align-self: center;
  font-family: Verdana;
  font-weight: bolder;
  text-decoration: none;
  color: black;
  background-color: #53001a;
}

.HeaderLinkActive {
  height: 99px;
  text-align: center;
  padding: 0px 10px 0px 10px;
  font-size: 2em;
  justify-self: center;
  align-self: center;
  font-family: Verdana;
  font-weight: bolder;
  text-decoration: none;
  background-color: #53001a;
  color: white;
}

.BodyMainHeader {
  text-align: center;
  font-size: 3em;
  color: white;
  justify-self: center;
  align-self: center;
  font-family: Verdana;
  font-weight: bolder;
  text-decoration: none;
  flex: 1;
  padding: 10px 0px 10px 0px;
}

.BodyHeader {
  text-align: center;
  font-size: 3em;
  color: white;
  justify-self: center;
  align-self: center;
  font-family: Verdana;
  font-weight: bolder;
  text-decoration: none;
  flex: 1;
}

.BodySubHeader {
  text-align: center;
  max-width: 60vw;
  margin: auto;
  font-size: 1em;
  color: white;
  justify-self: center;
  align-self: center;
  font-family: Verdana;
  font-weight: bolder;
  text-decoration: none;
  padding: 0px 20px 0px 20px;
  flex: 1;
}

.centerText {
  min-height: 70vh;
}

.PortfolioSegmentA {
  min-height: 70vh;
  background-color: #222629;
}

.PortfolioSegmentAShort {
  min-height: 10vh;
  background-color: #101113;
}

.PortfolioSegmentB {
  min-height: 70vh;
  background-color: #101113;
}

.PortfolioSegmentBShort {
  min-height: 10vh;
  background-color: #222629;
}

.CopyRight {
  color: white;
  min-height: 98px;
  line-height: 98px;
  font-family: Verdana;
  font-weight: bolder;
}

.marginLeft {
  margin-left: 50px;
}

.marginRight {
  margin-right: 50px;
}
.marginTop {
  margin-top: 10px;
}

.ContactContent {
  margin: auto;
  border: 2px black solid;
  padding: 10px 50px;
  border-radius: 1rem;
  background-color: black;
}

.EmailStyle {
  color: #650121;
  font-family: Verdana;
  font-weight: bolder;
  text-decoration: none;
  flex: 1;
  text-align: center;
}

.EmailStyle:hover {
  color: #53001a;
}
